*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e5e5e5;
    background-image: url('/resources/pexels-pixabay-38238.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.chat-bttn{
    position: fixed;
    right: 25px;
    bottom: 25px;
    border: none;
    cursor: pointer;
    background-color:cornflowerblue;
    color: white;
    width: 50px;
    height: 50px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 4);
}

.chat-popup{
    display: none;
    position: fixed;
    bottom: 80px;
    right: 80px;
    height: 400px;
    width: 300px;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.85rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 4);
    border: black;
    border-style: solid;
    border-width: 1px;
}

.display{
    display: flex;
}

.chat-area{
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom-style: solid;
    border-width: 0.5px;
    margin-top: 10px;
}

.inbound-message{
    display: flex;
}


.inbound-message .message{
    background-color: dodgerblue;
    color: white;
    border-radius: 20px;
    padding: 0.5rem;
}

.input-box{
    position: relative;
    display: flex;
    justify-content: center;
}

input{
    width: 100%;
    border: 1px solid #ccc;
    font-size: 1rem;
    border-radius: 5px;
    padding-left: 5px;
}

.submit{
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.output-msg{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.usr-msg{
    display: flex;
    justify-content: flex-end;
    margin: 0.75rem;
    padding: 0.5rem;
    background-color: #ddd;
    border-radius: 20px;
    word-break: break-all;
}

.pic{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.listings{
    background-color: #ccc;
    padding-right: 10px;
    padding-left: 5px;
    min-width: 150px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: black;
    border-style: solid;
    border-width: 1px;
}

.listingprofile{
    width: 200px;
    height: 200px;
    border: black;
    border-style: solid;
    border-width: 1px;
}

.package-btn{
    border-width: 0.5px;
    margin-left: 45px;
    margin-top: 45px;
    padding-left: 5px;
    padding-right: 5px;
}